body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}

body {

}


/* INSERT ALL YOUR HADER SYLINGS HERE */
.header {

}

/* HEADER STYLING ENDS HERE. ALL YOUR HADER SYLINGS SHOULD BE BETWEEN */


/* INSERT SECTIONS IN MAIN */
.main {

}

/* ROOMS STYLING GOES HERE */

.section-rooms {
    
}
/* FACILITIES STYLING GOES HERE */

.section-facilities {

}
/* CTA STYLING GOES HERE */

.section-cta {

}
/* FOOTER STYLING GOES HERE */

.footer {

}





