*,
*::after,
*::before {
  box-sizing: inherit;
}


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  color: #2c2c2c;
  font-size: 1.6rem;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {padding: 5% 7%;}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  position: absolute;
  z-index: 1;
  padding: 0 7%;
  background-color: white;

}

.header p {
  margin: 10px;
}

#number {margin-right: 80px;}

.right {
  display: flex;
  justify-content: space-between;
}

.right img {
  width: 2rem;
}

.navbar {z-index: 1;}

.nav-link {margin-right: 20px;
          font-weight: bolder;}



#title .container-fluid {text-align: center; padding: 3% 15% 7%;}
.carousel-item {opacity: 0.5;}
.intro {background-color: black;}

#title {position: relative;
        top: -300px;
        height:1190px;}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
            width: 100%;
        }

.main-heading {text-align: center;
              position: relative;
              top: -700px;}
.big-heading {font-size: 8rem;
              font-weight: 200;
              line-height: 1.5;
              color: white;
              position: relative;
              top: -40px;
              animation: textanimation 2s ease-in-out;
              }
@keyframes textanimation {0%{letter-spacing: 20px;}
                          100%{letter-spacing: 1px;}
                          }

.small-heading {font-size: 5rem;
                line-height: 1.5;
                color: white;}
.btn-book { border: 4px solid #D66939;
            background-color: transparent;
            color: white;
            padding: 14px 28px;
            font-size: 5rem;
            margin-top: -50px;
            transition: 0.5s;
            animation: textanimation2 1s ease-in-out;}
@keyframes textanimation2 {0%{transform: scale(0);}
                          100%{letter-spacing: 1px;}
                                      }

.btn-book:hover {background-color:#D66939;}


#headrule1 {width: 8%;
            border-color: #D66939;
            border-width: 7px;
            position: relative;;
            top: -50px;
            left: -250px;
            animation: textanimation2 1s ease-in-out;
          }
#headrule2 {width: 8%;
            border-color: #D66939;
            border-width: 7px;
            position: relative;;
            top: -70px;
            right: -250px;
            animation: textanimation2 1s ease-in-out;}

/* Header Ends Here */

/* Facilities section */
.facilities {
  margin: 5rem auto;
}

.heading {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: rgb(65, 62, 62);
}

.paragraph {
  color: rgb(78, 77, 77);
  text-align: center;
}

.facility_name {
  color: black;
  margin: 10px 0;
}

.facilities_list ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.facilities-image {
  width: 100%;
}

.facilities_list ul li {
  width: 400px;
  margin: 15px 5px;
  text-align: center;
}

.facility_name {
  font-weight: 550;
  color: rgb(65, 62, 62);
}

.facility_desc {
  margin: 5px 0;
  color: rgb(78, 77, 77);
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.btn {
  margin: 0 auto;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: all .3s;
  font-weight: bold;
}

.btn_small {
  padding: 10px 30px;
  display: inline-block;
  margin-top: 15px;
  height: 55px;
  width: 20rem;
}
.btn_large {
  height: 8rem;
  width: 36rem;
}
.btn--primary {
  background: #D66439;
  color: #2c2c2c;
}
.btn--secondary {
  color: #d66939;
  background-color: #fff;
}

.btn--primary:hover {
  cursor: pointer;
  transform: scaleY(1.1);
}
.btn--secondary:hover {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid white;
}

@media screen and (max-width:600px) {
  .facilities_list ul {
    flex-direction: column;
    align-items: center;
  }
  .facilities_list ul li {
    width: 30rem;
    text-align: center;
  }
  .facilities {
    width: 30rem;
    margin: auto;
    text-align: center;
  }

  .browse-button {
    width: 17rem;
    height: 10rem;
  }
  .facilities-image {
    width: 100%;
  }
}

/* End of facilities section */


/* contact us section */
.form_wrapper {
  background-color: #d66939;
  padding: 5rem;
}


.form_wrapper h2 {
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  margin: 3rem 0;
}

.form-control:first-child {
  margin-bottom: 4rem;
}

.input {
  width: 40rem;
  padding: 4px 20px;
  height: 60px;
  border: #f5f5f5 5px solid;
  background: none;
  border: 3px solid #ffffff;
  color: #fff;
  outline: none;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline-color: none;
}

@media (max-width: 500px) {

  .form_wrapper {
    padding: 5rem 2rem;
  }
  .form input {
    width: 30rem;
  }
}
 @media (max-width: 991px){
   .header-item{display: none;}
   #headrule2 {position: relative;
               right: -200px;}
   .navbar {padding: 10% 0;}

   #title {position: relative;
           top: -500px;}
 }
